<div class="footer">
	<div class="container">
		<div class="col-md-4 footer-left">
			<h4>Haqqımızda</h4>
			<p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
			<img src="images/t4.jpg" class="img-responsive" alt="">
			<div class="bht1">
				<a href="singlepage.html">Read More</a>
			</div>
		</div>
		<div class="col-md-4 footer-middle">
			<h4>Son Paylaşımlar</h4>
			<div class="mid-btm">
				<p>Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
				<a href="https://w3layouts.com/">https://w3layouts.com/</a>
			</div>

			<p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
			<a href="https://w3layouts.com/">https://w3layouts.com/</a>

		</div>
		<div class="col-md-4 footer-right">
			<h4>Əlaqə</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			<div class="name">
				<form action="#" method="post">
					<input type="text" placeholder="Ad Soyadınız" required="">
					<input type="email" placeholder="Emailiniz" required="">
					<div style="margin-top:15px">&nbsp;</div>
					<input type="submit" value="Mesaj Göndər">
				</form>

			</div>

			<div class="clearfix"> </div>

		</div>
		<div class="clearfix"></div>
	</div>
</div>
