



<div class="header" id="ban">
	<div class="container">
		<div class="head-left">
		</div>
		<div class="header_right">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-7" id="link-effect-7">
						<ul class="nav navbar-nav">
							<li><a href="/Blog/Index/">Bloglar</a></li>
							<li><a href="index.html">Səyahət</a></li>
							<li><a href="index.html">Dünya</a></li>
							<li><a href="index.html">Şəxsi</a></li>
							<li><a href="index.html">Yazıçılar</a></li>
							<li><a href="fashion.html">Haqqımızda</a></li>
							<li><a href="/Contact/Index/">Əlaqə</a></li>
							


						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
			<ul>
				<a href="#" id="login2" >
				<li><i class="fa fa-user-circle" id="login1" aria-hidden="true" style="color:#FA4B2A"> </i> <span style="color:black">Giriş Et</span></li></a>
				<a href="/Register/AddWriter" id="regis2">
				<li><i class="fa fa-user-plus" id="regis1" aria-hidden="true" style="color:#FA4B2A"></i> <span id="registerHeader" style="color:black" > Qeydiyyat</span></li></a>

			</ul>
			
		</div>

		<div class="clearfix"> </div>
	</div>
</div>
