<div class="newslatter" style="margin-bottom:30px;">
	<form method="post" asp-action="Index" asp-controller="NewsLetter">
				<input type="email" value="Email" name="Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="" style="width: 90%;">
				<div>
					<button style="margin-top:15px; padding:5px; background-color:#FA4B2A; color:white; width:100px; text-align:center;">Abunə Ol</button>
				</div>
	</form>
			</div>