
@{
    ViewData["Title"] = "DownloadExcelFile";
    Layout = "~/Views/Admin/AdminPanelLayout.cshtml";
}

<a href="/Admin/Blog/ExportDynamicExcelBlogListFile" class="btn btn-primary">Download Excel File</a>
