@model List<EntityLayer.Concrete.Blog>
@{
    ViewData["Title"] = "WriterPanel";
    Layout = "~/Views/Writter/WriterPanelLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th> ID </th>
            <th> Başlıq </th>
            <th> Kategoriya </th>
            <th> Güncəllə </th>
            <th> Sil </th>
            <th> Detaylar </th>

        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model){
            <tr>
                <td>@i.BlogID</td>
                <td>@i.BlogTitle</td>
                <td>@i.CategoryID</td>
                <td><a href="/Writter/BlogUpdate/@i.BlogID" class="btn btn-success">Güncəllə</a></td>
                <td><a href="/Writter/BlogDelete/@i.BlogID" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn btn-primary">Detaylar</a></td>

                
            </tr>
        }
    </tbody>
</table>
<a href="/Writter/BlogAdd" class="btn btn-info" >Yeni Blog</a>
